/* Custom CSS overrides for PaperMod theme */

/* Remove white underline from links in dark mode */
.dark .post-content a,
.dark .post-meta .i18n_list li a,
.dark .toc a:hover {
    box-shadow: none;
}
